<%- include('partials/header') -%>

<!-- Header -->
<header id="header">
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul class="links">
        <!-- <li><a href="index.html">Home</a></li> -->
        <!-- <li><a href="#" onclick='window.open("https://youarerad.org/");return false;'>RAD</a></li> -->
        <li><a href="meet-laura.html">Meet Laura</a></li>
        <li><a href="contact-us.html">Contact us</a></li>
        <li><a href="cg.html">Community Guidelines</a></li>
    </ul>
    <ul class="actions stacked">
        <li><a href="/signup" class="button fit primary">Create Account</a></li>
        <li><a href="/login" class="button fit">Log In</a></li>
    </ul>
</nav>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
        <section id="intro" class="wrapper featured style1">
            <div class="inner">
                <span class="image"><img src="/imgs/profile.png" alt="" /></span>
                <div class="content">
                    <header>
                        <h1>CozyCircles</h1>
                        <p>
                            Empowering caregivers and individuals with disabilities.<br />
                            Discover a haven where shared experiences bring comfort,<br />
                            resources offer guidance, and no one feels alone in their journey.
                        </p>
                    </header>
                    <footer>
                        <!-- <ul class="actions">
                            <li><a href="#menu" class="button big">Get Started</a></li>
                            <li><a href="cg.html" class="button big">Community Guidelines</a></li>
                        </ul> -->
                    </footer>
                </div>
            </div>
        </section>

    <!-- One -->
        <section class="wrapper style2 special">
            <div class="inner">
                <header>
                    <h2>Welcome to CozyCircles</h2>
                    <p>Discover the warmth of community<br />
                    like never before.</p>
                </header>
                <ul class="icons major style2">
                    <li><span class="icon solid fa-laptop-medical"><span class="label">Lorem</span></span></li><li>
                    <span class="icon solid fa-hand-holding-medical"><span class="label">Ipsum</span></span></li><li>
                    <span class="icon solid fa-users"><span class="label">Dolor</span></span></li><li>
                    <span class="icon solid fa-heartbeat"><span class="label">Feugiat</span></span></li><li>
                    <span class="icon solid fa-wheelchair"><span class="label">Tempus</span></span></li>
                </ul>
                <p>
                    Whether you're a caregiver offering steadfast support or navigating life's unique challenges, CozyCircles is your sanctuary. Connect, share, and find solace in a space crafted for understanding and resilience. Join us on this journey where no one travels alone. Welcome to the comforting embrace of CozyCircles!
                </p>
                <footer>
                    <ul class="actions special">
                        <li><a href="/learnmore" class="button">Learn More</a></li>
                    </ul>
                </footer>
            </div>
        </section>

    <!-- Two -->
        <section class="wrapper style1 special">
            <div class="inner">
                <header>
                    <h2>Beyond Barriers,</h2>
                    <p>Your Space, Your Voice.</p>
                </header>
                <section class="spotlight">
                    <span class="image"><img src="/imgs/beyondbarriers.jpg" alt="A Curved Road on the Mountainside" /></span>
                    <div class="content">
                        <header>
                            <h3>Beyond Barriers</h3>
                        </header>
                        <p>
                            <strong>Beyond Barriers</strong> at CozyCircles, where connections defy distances. <br>
                            Here, you can share experiences and support with individuals from around the globe, breaking free from the constraints of geography. <br>
                            No matter where life takes you, find solace and understanding in a community that transcends borders—a place where shared journeys bring us closer together.
                        </p>
                        <footer>
                            <!-- <ul class="actions">
                                <li><a href="#" class="button">Details</a></li>
                            </ul> -->
                        </footer>
                    </div>
                </section>
                <section class="spotlight">
                    <span class="image"><img src="/imgs/yourspace.jpg" alt="Focus Photo of 4 Wooden Pawn Figurine" /></span>
                    <div class="content">
                        <header>
                            <h3>Your Space</h3>
                        </header>
                        <p>
                            Step into <strong>Your Space</strong> at CozyCircles—a place where you craft communities that resonate with your unique journey. <br>
                            Here, you're empowered to form bonds with a select group of individuals who truly understand. Customize your space to cultivate a sense of belonging, and invite those who share in your experiences. <br>
                            This is more than a community; it's your sanctuary, where connections are purposeful and understanding runs deep.
                        </p>
                        <footer>
                            <!-- <ul class="actions">
                                <li><a href="#" class="button">Details</a></li>
                            </ul> -->
                        </footer>
                    </div>
                </section>
                <section class="spotlight">
                    <span class="image"><img src="/imgs/yourvoice.jpg" alt="Close-up Photo of Letters pinned on a Garment" /></span>
                    <div class="content">
                        <header>
                            <h3>Your Voice</h3>
                        </header>
                        <p>
                            Discover the strength of <strong>Your Voice</strong> at CozyCircles, where your opinions matter, your experiences are celebrated, and your voice echoes throughout our supportive community. <br>
                            Speak freely, share your story, and contribute to the diverse tapestry of voices that make CozyCircles vibrant. <br>
                            This is a space where advocacy, expression, and connection converge—empowering you to influence change, find solidarity, and be an essential part of a community that listens, understands, and cares.
                        </p>
                        <footer>
                            <!-- <ul class="actions">
                                <li><a href="#" class="button">Details</a></li>
                            </ul> -->
                        </footer>
                    </div>
                </section>
                <p>
                    | As you embark on your journey within CozyCircles |<br>
                    | Remember that the strength of our community lies in the respect and support we extend to one another. |<br>
                    | Let's create a space that thrives on kindness, understanding, and shared experiences. |<br>
                    | Please take a moment to familiarize yourself with our <strong>Community Guidelines</strong>, |<br>
                    | Ensuring that CozyCircles remains a safe, inclusive, and uplifting haven for all. |<br>
                    | Your commitment to these principles enriches the collective warmth we cultivate together. |<br>
                    | Welcome to a community where every connection counts! |
                </p>
                <footer>
                    <ul class="actions special">
                        <li><a href="resources.html" class="button">Explore our Resources Page</a></li>
                    </ul>
                </footer>
            </div>
        </section>

    <!-- Three -->
        <section class="wrapper style3 special">
            <div class="inner">
                <header>
                    <h2>Discover the CozyCircles Community</h2>
                    <p>
                        Join <strong>CozyCircles</strong> today and discover a space where support knows no bounds, <br>
                        connections go <strong>beyond barriers</strong>, and every <strong>voice</strong>, every <strong>story</strong> adds to the <strong>warmth</strong> of our <strong>community</strong>. <br>
                        Together, we navigate life's journey, finding <strong>strength</strong>, <strong>understanding</strong>, and <strong>joy</strong> in our shared experiences. <br>
                        Welcome to a place where you're not alone—welcome to <strong>CozyCircles</strong>, where every <strong>voice matters</strong>.
                    </p>
                </header>
                <footer>
                    <ul class="actions special">
                        <li><a href="#menu" class="button big">Get Started</a></li>
                    </ul>
                </footer>
            </div>
        </section>

    <!-- Footer -->
        <section id="footer" class="wrapper split style2">
            <!-- <div class="inner">
                <section>
                    <header>
                        <h3>Magna lorem ipsum</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos magna fames ac turpis egestas amet non lorem amet.</p>
                    <ul class="icons">
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                    </ul>
                </section>
                <section>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half"><input type="text" name="name" id="name" placeholder="Name" /></div>
                            <div class="field half"><input type="email" name="email" id="email" placeholder="Email" /></div>
                            <div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" /></li>
                        </ul>
                    </form>
                </section>
            </div> -->
            <div class="copyright">
                <p>| &copy; 2024 CozyCircles | All rights reserved |</p>
            </div>
        </section>

</div>
    

<%- include('partials/footer') -%>