	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<!-- <li><a href="#" onclick='window.open("https://youarerad.org/");return false;'>RAD</a></li> -->
					<!-- <li><a href="meet-laura.html">Meet Laura</a></li> -->
					<li><a href="cg.html">Community Guidelines</a></li>
					<li><a href="#">FAQ ( Frequently Asked Questions )</a></li>
					<li><a href="contact-us.html">Contact us</a></li>
				</ul>
				<ul class="actions stacked">
					<li><a href="accountcreation.html" class="button fit primary">Create Account</a></li>
					<li><a href="login.html" class="button fit">Log In</a></li>
				</ul>
			</nav>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1">
						<div class="inner">
							<header class="major">
								<h1>About Us</h1>
								<!-- <p>Welcome to CozyCircles, where meaningful connections and supportive communities thrive.</p> -->
							</header>
							<!-- <span class="image main"><img src="images/pic05.jpg" alt="" /></span> -->
							<p>
								CozyCircles is more than just an online platform; it's a warm and inclusive community designed for individuals with disabilities, their families, caregivers, and anyone seeking meaningful connections. 
								Our mission is to create a space where people can connect, support each other, and share their unique journeys.
							</p>
							<p class="title"><strong>A Community Built on Inclusivity</strong></p>
							<p>
								At the heart of CozyCircles is the belief in the power of diversity. 
								While our platform caters to the specific needs of individuals with disabilities, it is open to everyone. 
								We embrace the strength that comes from a community with varied backgrounds and experiences.
							</p>
							<p class="title"><strong>Features That Foster Connection</strong></p>
							<p>
								<strong>Instant Messaging</strong>: Engage in real-time conversations with others, building connections and friendships.
							</p>
							<p>
								<strong>Create Circles</strong>: Form private groups, or 'Circles,' for personalized discussions and secure sharing within a select community.
							</p>
							<p>
								<strong>Resource Sharing</strong>: Express yourself through multimedia uploads, sharing thoughts, experiences, and images with the community.
							</p>
							<p>
								<strong>Full Platform Access</strong>: Experience the complete CozyCircles platform with 100% feature accessibility, ensuring a seamless user experience for everyone.
							</p>
							<p class="title"><strong>Guided by Community Guidelines</strong></p>
							<p>
								Our community is governed by guidelines that promote a supportive and understanding environment. 
								CozyCircles encourages respectful interactions, providing a safe space for sharing, support, and meaningful connections.
							</p>
							<p class="title"><strong>Join Our Inclusive Community</strong></p>
							<p>
								Whether you're navigating the challenges of disability, offering caregiving support, or simply seeking a community to share your journey, CozyCircles is here for you. 
								Connect, engage, and become a part of a community that understands and supports you.
							</p>
							<p>
								Thank you for considering CozyCircles as your online community. 
								We're excited to welcome you to a space where connections flourish, and every voice is heard.
							</p>
						</div>
					</section>

				<!-- Footer -->
					<section id="footer" class="wrapper split style2">
						<div class="inner">
							<!-- <section>
								<header>
									<h3>Magna lorem ipsum</h3>
								</header>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos magna fames ac turpis egestas amet non lorem amet.
								</p>
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
									<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></l
								</ul>
							</section>
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="field half"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</section> -->
						</div>
						<div class="copyright">
							<p>| &copy; 2024 CozyCircles | All rights reserved |</p>
						</div>
					</section>

			</div>
	</body>