<%- include('partials/header') -%>

<!DOCTYPE HTML>
<!--
	Reflex by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Meet Laura | CozyCircles</title>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<!-- <li><a href="#" onclick='window.open("https://youarerad.org/");return false;'>RAD</a></li> -->
					<li><a href="learnmore.html">About Us</a></li>
					<li><a href="cg.html">Community Guidelines</a></li>
					<li><a href="contact-us.html">Contact Us</a></li>
				</ul>
				<ul class="actions stacked">
					<li><a href="accountcreation.html" class="button fit primary">Get Started</a></li>
					<li><a href="login.html" class="button fit">Log In</a></li>
				</ul>
			</nav>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1">
						<div class="inner">
							<header class="major">
								<h1>Laura's Unwavering Journey</h1>
								<p><strong>From Wellness to Resilience</strong></p>
							</header>
							<span class="image main"><img src="images/pic05.jpg" alt="" /></span>
							<p>
								Hello, my name is Laura Lizardi, and this is my Guillain-Barré Syndrome (GBS) journey. <br>
								I share the profound impact GBS had on my life, the near-death experience, and the role CozyCircles, a social network for individuals with disabilities, played in overcoming loneliness and finding comfort in shared experiences. 
							</p>
							<p>
								It all began with what seemed like a routine bout of flu-like symptoms. 
								The initial tingling sensations in my feet were dismissed, but as the days unfolded, the weakness progressed. 
								Walking became a struggle, and the tingling spread to my arms. 
								I continued to work long hours, putting my health aside. As the days went by, I noticed I was struggling to perform basic tasks at work and at home. 
								This was very out of character for me, so I visited my doctor, who scheduled blood tests. 
								Unfortunately, I was taken to the hospital three days later and received the staggering diagnosis of Guillain-Barré Syndrome—a rare neurological disorder causing muscle weakness and, in my case, paralysis throughout my body.
							</p>
							<p>
								Weakness overtook my limbs, rendering me unable to stand or move independently. 
								Breathing became a challenge, and I was given a heart monitor as the resting rate was 160 BPM. 
								The gravity of the situation dawned upon me. 
								My neurologist told me that if I had not come in that day, I would have died in my sleep in a matter of days as my body was shutting down. 
								Immediate medical intervention was crucial, and I regret that I did not act faster. 
								I don't know if I was hoping it would go away or just in denial that something was wrong. 
								After my lumbar puncture to confirm the diagnosis, my treatment began with intravenous immunoglobulin therapy (IVIG) to quell my immune system's assault on my nerves. 
							</p>
							<p>
								After my stay in the hospital, I was taken to inpatient rehab for physical, speech, and occupational therapy aimed at reviving my muscle strength. 
								Struggling to regain mobility, I confronted the uncertainty of regaining my independence. 
								Support from family and the dedication of the medical team became pillars of strength, but it was the introduction of CozyCircles that added a new dimension to my battle—a lifeline to others who shared similar struggles. 
							</p>
							<p>
								In the depths of physical and emotional struggle, this social network, designed for individuals with disabilities, connected me with a community that understood the nuances of my journey. 
								Sharing experiences, empathizing with challenges, and celebrating victories together, we formed bonds that transcended the confines of our ailments. 
								CozyCircles became a virtual haven where loneliness gave way to shared understanding, and isolation transformed into a network of unwavering support.
							</p>
							<p>
								Guillain-Barré Syndrome presented a significant challenge, but with medical intervention, the support of my husband, and the invaluable connections forged within CozyCircles, 
								I not only survived but emerged with newfound strength. 
								Within the embrace of CozyCircles, I discovered a lifeline that surpassed the limitations of my physical condition, highlighting the profound impact of connection and understanding, even amid life-altering challenges. 
							</p>
						</div>
					</section>

				<!-- Footer -->
					<section id="footer" class="wrapper split style2">
						<div class="inner">
							<section>
								<header>
									<h3>Contact Me</h3>
								</header>
								<p>
									Feel free to reach out for inquiries, collaborations, or just to say hello! Your messages are always welcome.
								</p>
								<ul class="icons">
									<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-spinner"><span class="label">CozyCircles</span></a></li>
									<!-- <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li> -->
									<!-- <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></l> -->
								</ul>
							</section>
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="field half"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</section>
						</div>
						<div class="copyright">
							<p>| &copy; 2024 CozyCircles | All rights reserved |</p>
						</div>
					</section>

			</div>

<%- include('partials/footer') -%>